*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color: black;
}

body header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:70%;
}

body main{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:70%;
    /* border:1px solid green; */
}

body main .post_sobre{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#post{
    margin-top: 10px;
    margin-bottom: 10px;
    border:5px solid rgb(0, 140, 255);
    border-radius: 12px;
    padding:10px;
    background-color: rgb(37, 37, 37);
    color:white;
}

body main .slides_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    /* border:1px solid black; */
}



body main .slides_container img{
    max-width:98%;
    height:100%;
    border:5px solid rgb(0, 140, 255);
    border-radius: 5%;
}

body main .post_maps{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
}

body footer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width:70%;
}

body main .side_buttons{
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    width:100%;
}

body main .side_buttons img{
    max-width:100%;
    max-height:100%;
}

@media (max-width:1440px){
    body main .side_buttons{
        margin-bottom: 15%;
    }

    body main{
        width:90%;
    }

    body header{
        width:90%;
    }

    body footer{
        width:90%;
    }
}





